
<svg id="tela" width="1000" height="520" (click)="pegarPosicao($event)">
  <rect
    *ngFor="let ret of retangulos"
    [attr.id]="ret.id"
    [attr.x]="ret.posX"
    [attr.y]="ret.posY"
    [attr.width]="ret.largura"
    [attr.height]="ret.altura"
    [attr.rx]="ret.curva"
    [attr.ry]="ret.curva"
    [attr.fill]="ret.cor"
    [attr.stroke]="ret.borda"
    [attr.stroke-width]="ret.espessura"
    (click)="editarRetangulo($event, ret.id)"
  />

  <polygon
    *ngFor="let est of estrelas"
    [attr.id]="est.id"
    [attr.points]="est.pontos"
    [attr.fill]="est.cor"
    [attr.stroke]="est.borda"
    [attr.stroke-width]="est.espessura"
    (click)="editarEstrela($event, est.id)"
  />
</svg>
<button (click)="limparTela()">Limpar Tela</button>

