#tela{
    border: 1px solid black;
    
    filter: drop-shadow(0 0 3px gray);
    background-color: white;
    
}

.selecionado{
    filter: drop-shadow(10px 10px 5px #aaa);
}

svg rect,
svg polygon{
    cursor: pointer;
}