form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

label {
  font-weight: 600;
  margin-right: 0.3rem;
  
}

input {
  width: 50px;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

button {
  padding: 0.5rem 1rem;
  
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.adicionar{
  background-color: #007BFF;
}

.editar{
  background-color: #28a745;
}

.remover{
  background-color: #dc3545;
}

button:hover {
  opacity: 0.6;
}

select {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  min-width: 140px;
  margin-right: 1rem;
}
