<form [formGroup]="retanguloForm">
    <input 
        type="text" 
        formControlName="idRetangulo"
        value=""
        readonly
    />
    <label for="X">X: </label>
    <input 
        type="number"
        formControlName="posXRetangulo" 
        value="0"
    />
    <label for="X">Y: </label>
    <input 
        type="number"
        formControlName="posYRetangulo" 
        value="0"
    />
    <label for="Largura">Largura: </label>
    <input 
        type="number"
        formControlName="larguraRetangulo" 
        value="0"
    />
     <label for="Largura">Altura: </label>
    <input 
        type="number"
        formControlName="alturaRetangulo" 
        value="0"
    />
    <label for="Largura">Curvas: </label>
    <input 
        type="range"
        min="0"
        max="50"
        step="5"
        formControlName="curvaRetangulo" 
        value="0"
    />    
    <button class="adicionar" (click)="adicionarRetangulo()">Adicionar Retângulo</button>
    <!--<button class="editar" (click)="editarRetangulo(1)">Editar Retângulo</button>-->
    <button class="remover" (click)="removerRetangulo()">Remover Retângulo</button>
</form>

<button class="adicionar">Adicionar Polígono</button>